<h1>Form to create a new task.</h1>

<div class="create-task">
  <p>Create a new task by first giving it a title, and then add "todos" or items to check off.</p>
  <p>If you need more than 3 "todos" you can add them later :)</p>
  <form action="/groups/<%= @group.slug %>/tasks" method="POST">
    <label for="task_title">Main Title:</label><br>
    <input type="text" name="title" id="task_title"><br><br>
    <label for="todo_1">Todo 1:</label>
    <input type="text" name="todo_1"><br><br>
    <label for="todo_2">Todo 2:</label>
    <input type="text" name="todo_2"><br><br>
    <label for="todo_3">Todo 3:</label>
    <input type="text" name="todo_3"><br><br>
    <input type="submit" value="Create Task">
  </form>
</div>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
