body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #05A89C;
  height: 100px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  border: 3px solid #003463;
  height: 90px;
  margin: 2px;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 40px;
  position: relative;
}

nav a {
  color: #003463;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #003463;
  left: 0;
  right: 0;
}

.branding {
  clear: both;
}

footer.branding {
  border-top: 2px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.wrapper {
  margin: 16px auto;
  max-width: 960px;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
  text-align: center;
}
