body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #05A89C;
  height: 100px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  border: 3px solid #003463;
  height: 90px;
  margin: 2px;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 40px;
  position: relative;
}

nav a {
  color: #003463;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #003463;
  left: 0;
  right: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.wrapper {
  padding-left: 10%;
  padding-right: 10%
}

.branding {
  border-top: 1px solid black;
  padding: 2%;
  margin: 5%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.red {
  color: red;
}
