<div class="container-fluid">
  <br>
  <h1 class="text-center">Your groups:</h1>
  <br>
  <div class="row">
    <div class="col-md">
      <ul class="list-group">
        <li class="list-group-item text-center font-weight-bold">Owned Groups</li>
        <% @user.owned_groups.each do |group| %>
          <li class="list-group-item"><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
        <% end %>
      </ul>
      <br>
    </div>
    <div class="col-md">
      <ul class="list-group">
        <li class="list-group-item text-center font-weight-bold">Other Groups</li>
        <% @user.groups.each do |group| %>
          <li class="list-group-item"><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
        <% end %>
      </ul>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="text-center">
        <br><br><a href="/groups/new"><button type="button" class="btn btn-info">Create New Group</button></a>

        <br><br><br><form action="/logout" method="POST">
          <input type="submit" value="Log Out">
        </form>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>

</div>
