<div class="container-fluid">
  <br>
  <h1 class="text-center">Your groups:</h1>
  <br>
  <div class="row">
    <div class="col-md">
      <ul class="list-group">
        <li class="list-group-item text-center font-weight-bold">Owned Groups</li>
        <% @user.owned_groups.each do |group| %>
          <li class="list-group-item"><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
        <% end %>
      </ul>

    </div>
    <div class="col-md">
      <ul class="list-group">
        <li class="list-group-item text-center font-weight-bold">Other Groups</li>
        <% @user.groups.each do |group| %>
          <li class="list-group-item"><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <br><a href="/groups/new"><button type="button">Create New Group</button></a>

  <br><br><form action="/logout" method="POST" class="text-center">
    <input type="submit" value="Log Out">
  </form>

</div>
