<h1>Your groups:</h1>

<% @user.groups.each do |group| %>
  <h3><a href="/groups/<%= group.slug %>"><%= group.name %></a></h3>
  <ul>
    <% group.tasks do |task| %>
      <li><a href="/tasks/<%= task.id %>"><%= task.title %></a></li>
    <% end %>
  </ul>
<% end %>
