<div class="container-fluid text-center">
  <br>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="shadow-lg p-3 mb-5 rounded">
        <br>
        <h1>lookup user</h1>
        <hr>

        <% if flash.has?(:message) %>
          <p class="text-danger"><%= flash[:message] %></p>
        <% end %>

        <form action="/users/lookup" method="post">
          <label for="user">username or email:</label>
          <input type="text" name="user"><br>
          <br>
          <input type="submit" value="Find User" class="btn btn-info btn-block">
        </form>
        <br>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
