<h1>Welcome to Tasker!</h1>

<h2>About</h2>
<p>Tasker is an application made for not only keeping track of your tasks
and assignments, but also being able to share those tasks within a group.
The app was originally created for a coding class project with the intention
of storing assignments for group projects or a way to store chores in a
household/roommate group.</p>

<h2>Guide</h2>

<h4>Getting Started</h4>
<p>When you create a profile with Tasker, you automatically get a group called
"My Tasks" that is meant to contain any personal tasks you may have. You can
change the name of this group to anything you wish, add members if you choose,
or even delete it. You can create new groups and title them as you wish. Within
any of your groups, you can create tasks.</p>

<h4>Creating Tasks</h4>
<p>On Tasker, tasks are formatted such that they have a title and "todos"/subtasks.
Subtasks are especially meant for large tasks, such as a project where you may need
to (for example) 1. do research, 2. conduct interviews, 3. write a paper, 4. edit
said paper, and finally, 5. turn that paper in. Subtasks can also be as simple as
items on a shopping list. Really, it's up to you how to format your tasks within
groups.</p>

<h4>Owners vs. Members</h4>
<p>Every group you create, you are the owner of. However, you can also be a member
of a group. Owners can add members, edit a group title/description, and can delete
a group. Owners and members can create, edit, and delete tasks within a group.
Therefore, you will want to be careful with who you add to your groups.</p>

<h5>Hope you enjoy using Tasker!</h5>
